<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f">
                <h1>Welcome, User12</h1>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a th:href="@{/admin/-1}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/-2}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Management</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/stats}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/logout}" class="nav-link" href="#" style="color: rgb(221, 31, 6)">Log Out</a>
                    </li>
                </ul>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">
                <h3>Home</h3>
                <div class="month">
                    <ul>
                        <li>December</li> 
                        <li>2021</li> 
                    </ul>
                  </div>
                  
                  <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                  </ul>
                  
                  <ul class="days">
                    <li><span class="mp">29</span></li>
                    <li><span class="mp">30</span></li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li><span class="active">6</span></li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>
                  </ul>
            </div>
        </div>
    </body>
