<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f">
                <h1 th:text="'Welcome, ' + ${admin.nombre}"></h1>
                <div th:insert="/commons/adminFragments :: sidebar-admin">
                </div>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">
                <h3>Management</h3>
                <div class="container">
                    <div class="row">
                        <div class="col col-title-1">Employees</div>
                    </div>
                    <div class="row">
                        <div class="col col-title-1" style="font-size: 16px;">Name</div>
                        <div class="col col-title-1" style="font-size: 16px;">Manager</div>
                        <div class="col col-title-1" style="font-size: 16px;">Edit Data</div>
                    </div>
                    <div class="row" th:each="empleado : ${empleados}">
                        <div class="col col-i"th:text="${empleado.nombre}">Charlie Puth</div>
                        <div class="col col-i" th:text="${admin.nombre}"></div>
                        <div class="col col-i"><a th:href="@{'/admin/edit/employee/'+${empleado.id}}"><button>Edit</button></a></div>
                    </div>
                </div>
                <a th:href="@{/inicio/admineditemp/}"><button style="margin-top: 30px; left: 50px;
                 position: relative;">Add</button></a>
               
                
            </div>
        </div>
    </body>