<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f">
                <h1 th:text="'Welcome, ' + ${usuario.nombre}"></h1>
                <div th:insert="/commons/adminFragments :: sidebar-admin">
                </div>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">
                <main class="omfg">
                    <h3 style="text-align: center;">Employee Info</h3>
                    <form th:object="${employee}" th:action="@{'/admin/edit/employee/'+*{id}}" method="post"> 
                    <div class="row">
                        <div class="col-lg-2">
                            
                            <div><label class="in-d" for="name">Name</label><input class="in-d" type="text" th:if="employee != null" th:field="*{nombre}" required="required" style="width: 420px;"/></div>
                            <div><label class="in-d" for="name">Password</label><input class="in-d" type="text" th:field="*{contraseña}" required="required" style="width: 420px;"/></div>
                            
                        </div>
                    </div>
                    <a th:href="@{/admin/-1/}" class="btn-can "><button>Cancel</button></a>
                    <button class="btn-con">Confirm</button>
                </form>
                </main>
            </div>
        </div>
    </body>