<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f2">
                <h1 th:text="'Welcome, ' + ${usuario.nombre}"></h1>
                <div th:insert="/commons/adminFragments :: sidebar-owner">
                </div>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">
                <h3>Home</h3>
                <img style="left: 20%; position: absolute;" class= "imgindex" th:src="@{/img/ep.png}" alt="alt"/>
            </div>
        </div>
    </body>