<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f2">
                <h1 th:text="'Welcome, ' + ${usuario.nombre}"></h1>
                <div th:insert="/commons/adminFragments :: sidebar-owner">
                </div>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">
                <h3>Locations</h3>
                <div class="container">
                    <div class="row">
                        <div class="col col-title-3">Current Establishments</div>
                    </div>
                    <div class="row">
                        <div class="col col-title-3" style="font-size: 16px;"></div>
                        <div class="col col-title-3" style="font-size: 16px;">Name</div>
                        <div class="col col-title-3" style="font-size: 16px;">Address</div>
                        <div class="col col-title-3" style="font-size: 16px;">Edit Data</div>
                        
                    </div>
                    <div class="row" th:each="sucursal : ${sucursales}">
                        <div class="col col-i"><img class="img-loc" th:src="${sucursal.imagen}" alt="alt"/></div>
                        <div class="col col-i" th:text="${sucursal.nombre}">Your Butt</div>
                        <div class="col col-i" th:text="${sucursal.ubicacion}">NYC, NY</div>
                        <div class="col col-i"><a th:href="@{'/owner/edit/sucursal/'+${sucursal.id}}"><button>Edit</button></a></div>
                    </div>
                </div>
                <a th:href="@{/owner/add/sucursal}"><button style="margin-top: 30px; left: 50px;
                 position: relative;">Add</button></a>
            </div>
        </div>
    </body>