<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/admin.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <body>
        <div class="row">
            <div class="col-lg-2 col-f2">
                <h1 th:text="'Welcome, ' + ${usuario.nombre}"></h1>
                <div th:insert="/commons/adminFragments :: sidebar-owner">
                </div>
                <h2>Bananas Premium</h2>
            </div>
            <div class = "col-lg-9 col-s">

                <main class="omfg">
                    <h3 style="text-align: center;">Add Ice Cream</h3>
                    <div class="row">
                        <form th:action="@{'/owner/add/ice/'}" method="post" th:object="${helado}">
                        <div class="col-lg-1">
                            
                            <div><label for="sabor">sabor</label><input class="in-d" type="text" th:field="*{sabor}" required="required" style="width: 420px;"/></div>
                            <div><label for="existencia">existencia</label><input class="in-d" type="number" th:field="*{existencia}" required="required" style="width: 120px;" /></div>
                            <div><label for="precio">precio</label><input class="in-d" type="text" th:field="*{precio}" required="required" style="width: 190px;"/></div>
                            <div><label for="imagen">url </label><input class="in-d" type="text" th:field="*{imagen}" required="required" style="width: 190px;"/></div>
                            <div><label for="nombre">nombre</label><input class="in-d" type="text" th:field="*{nombre}" required="required" style="width: 190px;"/></div>
                        </div>
                        
                        
                    </div>
                    <button class="btn-con">Confirm</button>
                </form>
               
                <a th:href="@{/owner/-1}" class="btn-can"><button>Cancel</button></a>
                </main>
            </div>
        </div>
    </body>