<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel="icon" th:href="@{/img/ic.png}">
        <link rel ="stylesheet" th:href="@{/css/index.css}"/>
    </head>
    <body style="background-image: url('/img/smthg.jpg');">
      <a  th:href="@{/inicio/}" ><button type="submit" class="btn-large" style = "margin-left: 1200px; margin-top: 10px;">Go Back</button></a>  
        <div class = "main">
            <div class="login">
                <h1>Login</h1>
                    <form th:action="@{/inicio/login}" th:object="${usuario}" method="post"> 
                    <input type="text" placeholder="Username" required="required" th:field="*{nombre}"/>
                    <input type="password" placeholder="Password" required="required" th:field="*{contraseña}" />
                    <button type="submit" class="btn btn-primary btn-block btn-large" style = "margin-top: 40px;
                    transform: translateX(80%);">Log In</button>
                    </form>
            </div>
        </div>
    </body>
</html>