<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Shop</title>
            <meta charset="UTF-8"/>
            <link rel="icon" th:href="@{/img/ic.png}">
            <link rel ="stylesheet" th:href="@{/css/justincase.css}"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <header th:insert="/commons/fragments :: head"></header>
        <body>
            <h1 style="font-size: 65px; text-align:center; margin-top: 85px; font-weight: bold;">Ice Creams</h1>
            <hr STYLE="background-color:#bebebe; height:3px; width:90%">
            <div class="container">
                <ul class="tilesWrap">
                    <li th:each="helado : ${helados}">
                        <img class="pic" th:src="${helado.imagen}" alt="alt"/>
                        <h2 th:text="${helado.sabor}"></h2>
                        <h3><i th:text="${helado.precio}"></i></h3>
                        <p th:text="${helado.nombre}">
                            
                        </p>
                        <button ><a th:href="@{'/inicio/shop/add/'+${helado.id}}">add to cart</a></button>
                    </li>
                    <a class="butt1" th:href="@{/inicio/home/}" ><button>Return Home</button></a>
                    <a class="butt2" th:href="@{/inicio/cart/}" ><button>Cart</button></a>
                    <footer th:insert="/commons/fragments :: foot"></footer>
                </ul>
            </div>
        </body>
</html>
