<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Shop</title>
            <meta charset="UTF-8"/>
            <link rel="icon" th:href="@{/img/ic.png}">
            <link rel ="stylesheet" th:href="@{/css/justincase.css}"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <header th:insert="/commons/fragments :: head"></header>
        <body>
            <main>
            <h1 style="font-size: 65px; text-align:center; font-weight: bold;">Flavors</h1>
            <hr>
            <hr>
            <ul class="tilesWrap">
                <li th:each="helado : ${helados}">
                    <img class="pic" th:src="${helado.imagen}" alt="alt"/>
                    <h2 th:text="${helado.sabor}"></h2>
                    <h3><i th:text="${helado.precio}"></i></h3>
                    <p th:text="${helado.nombre}">
                        
                    </p>
                    <button ><a th:href="@{'/inicio/shop/add/'+${helado.id}}">add to cart</a></button>
            </ul>
            <a  th:href="@{/inicio/home/}" ><button type="submit" class="btn-primary btn-large btn-rtrn">Return Home</button></a>
            <a  th:href="@{/inicio/cart/}" ><button type="submit" class="btn-primary btn-large btn-chck">Cart</button></a>
        </main>
        </body>
        <footer th:insert="/commons/fragments :: foot"></footer>
</html>