<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar-admin">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a th:href="@{/admin/-1}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Home</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/-2}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Management</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/stats}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Statistics</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/logout}" class="nav-link" href="#" style="color: rgb(221, 31, 6)">Log Out</a>
        </li>
    </ul>
    </div>

    <div class="" th:fragment="sidebar-owner">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a th:href="@{/owner/-2}" class="nav-link" href="#" style="color: rgb(216, 216, 216)">Home</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/owner/-1}" class="nav-link" href="#" style="color: rgb(216, 216, 216)">Management</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/owner/-3}" class="nav-link" href="#" style="color: rgb(216, 216, 216)">Locations</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/owner/logout}" class="nav-link" href="#" style="color: rgb(67, 14, 136)">Log Out</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/inicio/}" class="nav-link" href="#" style="color: rgb(67, 14, 136)">Home</a>
            </li>
        </ul>

    </div>
</html>