<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <link rel ="stylesheet" th:href="@{/css/fragments.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
<body>
    <div id="footer" th:fragment="foot">
        <div class="social">
            <img class = "imgs" th:src="@{/img/insta.png}" alt="alt"/>
            <img class = "imgs" th:src="@{/img/fb.png}" alt="alt"/>
            <img class = "imgs" th:src="@{/img/tw.png}" alt="alt"/>
            <img class = "imgs" th:src="@{/img/wa.png}" alt="alt"/>
          </div>
          <div>
            <a style="color: rgb(226, 226, 226)">Home</a>
            <a style="color: rgb(226, 226, 226)">Services</a>
            <a style="color: rgb(226, 226, 226)">About</a>
            <a style="color: rgb(226, 226, 226)">Terms</a>
            <a style="color: rgb(226, 226, 226)">Privacy Policy</a>
          </div>
          <div>
            <p>Bananas Premium © 2021 Copyright</p>
          </div>   
    </div>

    <div th:fragment="head">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand" style="color: rgb(255, 170, 241); font-size: 27px; cursor: default">Bananas Premium</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a th:href="@{/inicio/}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Home</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/inicio/shop}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Ice Creams</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/inicio/map}" class="nav-link" href="#" style="color: rgb(236, 236, 236)">Locations</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/inicio/login}" class="nav-link" href="#" style="color: rgb(255, 167, 240)">Log In</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
        <div class="snowflake">
        ❅
        </div>
        <div class="snowflake">
        ❆
        </div>
        <div class="snowflake">
        ❄
        </div>
      </div>
    </div>
</body>
</html>