.yo{
    background: transparent;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 0;
}

body h2{
    margin-top: 40px;
    text-align: center;
    font-family: 'Brush Script MT';
    color: #afff47;
    font-weight: bold;
    font-size: 50px;
}

.imgg{
    width: 15px;
    height: 10px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.imgs{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding: 0;
    opacity:0.85;
    filter: grayscale(100%)
}


.btn-large {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #256807, #12dd0b);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    font-weight: bold;
    transform: translateX(80%);
}

.main {
    background-color: #ffffff15;
    width: 800px;
    height: 350px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.login { 
    position: absolute;
    top: 50%;
    left: 49%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}
.login h1 { 
    color: #28c900;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.534); 
    text-align:center; }

input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}

.bg-cover {
    background-size: cover !important;
}

.navbar{
    background-color: rgb(111, 182, 114);
}

ul{
    position: absolute;
    right: 0;
    padding-right: 50px;
}

li{
    font-weight: bold
}

.container h1{
    font-family: 'Brush Script MT';
    color: #fdd62a;
    font-weight: bold;
    font-size: 80px;
}

.navbar-brand{
    font: italic;
    font-weight: bold;
    font-family: 'Brush Script MT';
    font-size: 50px;
}

footer {
    background: #ff5ecf;
    background: -webkit-linear-gradient(to right, #ff5ecf, #3aade2);
    background: linear-gradient(to right, #ff5ecf, #3aade2);
    min-height: 250px;
    text-align: center;
    padding-top: 40px;
}

footer a{
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
}

footer p{
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
    font-size: 17px;
    margin-top: 20px;
    color: white;
}
